{{- $posts := where .Site.RegularPages "Type" "post" }}
{{- $archiveData := slice }}

{{- range $posts }}
  {{- $year := .Date.Format "2006" }}
  {{- $month := .Date.Format "01" }}
  {{- $yearMonth := .Date.Format "2006-01" }}
  {{- $archiveData = $archiveData | append (dict "year" $year "month" $month "yearMonth" $yearMonth "post" .) }}
{{- end }}

{{- $years := slice }}
{{- range $archiveData }}
  {{- if not (in $years .year) }}
    {{- $years = $years | append .year }}
  {{- end }}
{{- end }}
{{- $years = sort $years "value" "desc" }}

{{- if gt (len $posts) 0 }}
<div class="widget-archives widget">
	<h4 class="widget__title">アーカイブ</h4>
	<div class="widget__content">
		{{- range $years }}
		{{- $year := . }}
		{{- $yearData := slice }}
		{{- range $archiveData }}
			{{- if eq .year $year }}
				{{- $yearData = $yearData | append . }}
			{{- end }}
		{{- end }}
		{{- $months := slice }}
		{{- range $yearData }}
			{{- if not (in $months .month) }}
				{{- $months = $months | append .month }}
			{{- end }}
		{{- end }}
		{{- $months = sort $months "value" "desc" }}
		<details class="widget__archives-year" open>
			<summary class="widget__archives-year-title">{{ $year }}年</summary>
			<ul class="widget__list">
			{{- range $months }}
				{{- $month := . }}
				{{- $monthData := slice }}
				{{- range $yearData }}
					{{- if eq .month $month }}
						{{- $monthData = $monthData | append . }}
					{{- end }}
				{{- end }}
				{{- $monthName := "" }}
				{{- if eq $month "01" }}{{ $monthName = "1月" }}
				{{- else if eq $month "02" }}{{ $monthName = "2月" }}
				{{- else if eq $month "03" }}{{ $monthName = "3月" }}
				{{- else if eq $month "04" }}{{ $monthName = "4月" }}
				{{- else if eq $month "05" }}{{ $monthName = "5月" }}
				{{- else if eq $month "06" }}{{ $monthName = "6月" }}
				{{- else if eq $month "07" }}{{ $monthName = "7月" }}
				{{- else if eq $month "08" }}{{ $monthName = "8月" }}
				{{- else if eq $month "09" }}{{ $monthName = "9月" }}
				{{- else if eq $month "10" }}{{ $monthName = "10月" }}
				{{- else if eq $month "11" }}{{ $monthName = "11月" }}
				{{- else if eq $month "12" }}{{ $monthName = "12月" }}
				{{- end }}
				<li class="widget__item">
					<a class="widget__link" href="/post/">{{ $monthName }}</a>
					<span class="widget__counter">({{ len $monthData }})</span>
				</li>
			{{- end }}
			</ul>
		</details>
		{{- end }}
	</div>
</div>

<style>
.widget__archives-year {
	margin-bottom: 0.5em;
}
.widget__archives-year-title {
	cursor: pointer;
	font-weight: bold;
	padding: 0.25em 0;
}
.widget__archives-year-title:hover {
	color: #e22d30;
}
.widget__archives-year .widget__list {
	margin-left: 1em;
	margin-top: 0.5em;
}
.widget__counter {
	color: #999;
	font-size: 0.9em;
}
</style>
{{- end }}