{{- $posts := where .Site.RegularPages "Type" "post" }}

{{- if gt (len $posts) 0 }}
<div class="widget-archives widget">
	<h4 class="widget__title">アーカイブ</h4>
	<div class="widget__content">
		<details class="widget__archives-year" open>
			<summary class="widget__archives-year-title">2024年</summary>
			<ul class="widget__list">
				{{- $may2024 := 0 }}
				{{- $sep2024 := 0 }}
				{{- range $posts }}
					{{- $yearMonth := .Date.Format "2006-01" }}
					{{- if eq $yearMonth "2024-05" }}
						{{- $may2024 = add $may2024 1 }}
					{{- else if eq $yearMonth "2024-09" }}
						{{- $sep2024 = add $sep2024 1 }}
					{{- end }}
				{{- end }}
				{{- if gt $sep2024 0 }}
				<li class="widget__item">
					<a class="widget__link" href="/post/">9月</a>
					<span class="widget__counter">({{ $sep2024 }})</span>
				</li>
				{{- end }}
				{{- if gt $may2024 0 }}
				<li class="widget__item">
					<a class="widget__link" href="/post/">5月</a>
					<span class="widget__counter">({{ $may2024 }})</span>
				</li>
				{{- end }}
			</ul>
		</details>
	</div>
</div>

<style>
.widget__archives-year {
	margin-bottom: 0.5em;
}
.widget__archives-year-title {
	cursor: pointer;
	font-weight: bold;
	padding: 0.25em 0;
}
.widget__archives-year-title:hover {
	color: #e22d30;
}
.widget__archives-year .widget__list {
	margin-left: 1em;
	margin-top: 0.5em;
}
.widget__counter {
	color: #999;
	font-size: 0.9em;
}
</style>
{{- end }}