---
layout: archive.njk
section: tech
eleventyExcludeFromCollections: true
pagination:
  data: collections.techArchives
  size: 1
  alias: archive
permalink: "tech/{{ archive.year }}/{{ archive.monthPadded }}/index.html"
---
