---
layout: archive.njk
section: cook
eleventyExcludeFromCollections: true
pagination:
  data: collections.cookArchives
  size: 1
  alias: archive
permalink: "cook/{{ archive.year }}/{{ archive.monthPadded }}/index.html"
---
